@font-face {
    font-family: 'Qanelas Extra Bold';
    src: url('../fonts/Qanelas-ExtraBold.eot');
    src: url('../fonts/Qanelas-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-ExtraBold.woff') format('woff'),
        url('../fonts/Qanelas-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas Regular';
    src: url('../fonts/Qanelas-Regular.eot');
    src: url('../fonts/Qanelas-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Regular.woff') format('woff'),
        url('../fonts/Qanelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}